<div ng-controller="idleController as idlCtrl">
    <div ng-hide="idlCtrl.isExpired">
        <div class="row">
            <div class="col-md-6">
                Session will be expired {{ idlCtrl.remainingTime | secondsToTime }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="btn-group">
                    <button type="button" class="btn btn-warning" ng-click="idlCtrl.resume()">Resume</button>
                    <button type="button" class="btn btn-info">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="idlCtrl.isExpired">
        <div class="row">
            <div class="col-md-6">
                Session is expired
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="btn-group">
                    <button type="button" class="btn btn-info">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>
