<div class="btn-group blocks  navbar-btn navbar-right" data-toggle="buttons">
	<a ng-click="loginCtrl.facebookToggle()" 
		class="btn-social btn-facebook btn btn-default">
		<i class="fa fa-facebook"></i> Sign {{loginCtrl.facebookLogged?"out":"in"}} with Facebook
	</a>
	
	<a ng-click="loginCtrl.twitterToggle()" 
		class="btn-social btn btn-default btn-twitter" style="margin-left:5px;">
		<i class="fa fa-twitter"></i> Sign  {{loginCtrl.twitterLogged?"out":"in"}} with Twitter
	</a>
	
</div>