@import "bower_components/bootstrap/less/bootstrap.less";
@import "bower_components/bootstrap-social/bootstrap-social.less";
//@import "bower_components/bootstrap/less/theme.less";
@import "bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "bower_components/font-awesome/fonts";

/* Component LESS */
@import "login/login.less";
@import "news/news.less";
@import "facebook/facebook.less";
@import "twitter/twitter.less";
@import "home/home.less";
@import "home/home.less";
@import "webapiserver/webapiserver.less";
/* Add Component LESS Above */

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel a { cursor: pointer; }

/* Personal preference for BS modal.  The LESS below makes the backdrop white and
   causes the modal to fade in rather than slide in. */
//@modal-backdrop-bg: white;
//.modal {
//	&.fade {
//		.transition(opacity .3s);
//	}
//	&.fade .modal-dialog {
//		.translate(0,0);
//	}
//}

.navbar-brand {
	padding: 8px;
}

.navbar-brand img {
	width: auto;
	height: 34px;
}

@font-face {
	font-family: "Glyphicons Halflings";
	src: url("/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot");
	src: url("/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"),
		url("/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff") format("woff"),
		url("/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf") format("truetype"),
		url("/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype");
}

.feature-title .page-header {
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 30px;
}

.feature-title .pager {
	font-size: 1.2em;
	margin-top: 18px;
}

.feature-title .pager li a {
	border-radius: 4px;
}

.feature-title .pager .glyphicon {
	font-size: 0.8em;
	line-height: 1.6;
	vertical-align: middle;
	opacity: 0.6;
}

.feature-title .pager .glyphicon.prev { margin-right: 4px; }
.feature-title .pager .glyphicon.next { margin-left: 4px; }

.mini-loading {
	height: 10px;
	position: relative;
	overflow: hidden;
}

.mini-loading .circle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	background-color: #aaaaaa;
	-webkit-animation: move 1.5s infinite cubic-bezier(0.17, 0.67, 0.83, 0.67);
	animation: move 1.5s infinite cubic-bezier(0.17, 0.67, 0.83, 0.67);
	opacity: 0;
}

.mini-loading .circle:nth-child(1) {
	-webkit-animation-delay: 0;
	animation-delay: 0;
}
.mini-loading .circle:nth-child(2) {
	-webkit-animation-delay: 150ms;
	animation-delay: 150ms;
}
.mini-loading .circle:nth-child(3) {
	-webkit-animation-delay: 300ms;
	animation-delay: 300ms;
}
.mini-loading .circle:nth-child(4) {
	-webkit-animation-delay: 450ms;
	animation-delay: 450ms;
}
.mini-loading .circle:nth-child(5) {
	-webkit-animation-delay: 600ms;
	animation-delay: 600ms;
}

@-webkit-keyframes move {
	0% { left: 20%; opacity: 0.4; }
	100% { left: 80%; opacity: 0.6; }
}

@keyframes move {
	0% { left: 20%; opacity: 0.4; }
	100% { left: 80%; opacity: 0.6; }
}