<div><div class="center-div">
	<a ng-click="ttCtrl.login()" ng-hide="ttCtrl.isLogged"
		class="btn-social btn btn-default btn-twitter" style="margin-left:5px;">
		<i class="fa fa-twitter"></i> Sign {{ttCtrl.isLogged?"out":"in"}} with Twitter
	</a>
	</div>
<div class="input-group" ng-show="ttCtrl.isLogged">
    <textarea required="" class="form-control custom-control" ng-model="ttCtrl.tweet" rows="3" style="resize:none"></textarea>
    <span class="input-group-addon btn btn-primary" ng-disabled="ttCtrl.setDisabled()" ng-click="ttCtrl.postToTimeLine()">Send</span>
    <span class="input-group-addon btn btn-primary" ng-click="ttCtrl.loadTimeLine()">Refresh</span>
</div>
<div ng-show="ttCtrl.isLogged">
    <loading-spinner></loading-spinner>
    <ul class="timeline" ng-hide="ttCtrl.isLoading">
        <li ng-class="{'timeline-inverted':ttCtrl.setTimeLineClass($index)}" ng-repeat="item in ttCtrl.timelines">
            <div class="timeline-badge" ng-class="{' success':ttCtrl.setTimeLineClass($index)}"><i class="glyphicon" ng-class="{'glyphicon-check':ttCtrl.setTimeLineClass($index),'glyphicon-thumbs-up':!ttCtrl.setTimeLineClass($index)}"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{item.user.name}}</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{item.created_at| date:'medium'}}</small></p>
                </div>
                <div class="timeline-body">
                    <p ng-show="ttCtrl.hasImage(item)"><img width="100%" ng-src="{{item.entities.media[0].media_url}}"></p>
                    <p>{{item.text}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>
</div>
