<div ng-include="'/common/templates/header.html'"></div>
<div id="content" class="container">
<div class="feature-title">
	<div class="page-header">
		<div class="pull-left" ng-show="HomeCtrl.prevFeatureHref">
			<ul class="pager">
				<li><a href="javascript:void(0)" ng-click="HomeCtrl.prev()"><span
						class="glyphicon glyphicon-chevron-left prev"></span></a></li>
			</ul>
		</div>
		<div class="pull-right" ng-show="HomeCtrl.nextFeatureHref">
			<ul class="pager">
				<li><a href="javascript:void(0)" ng-click="HomeCtrl.next()"><span
						class="glyphicon glyphicon-chevron-right next"></span></a></li>
			</ul>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<ul class='ul-container'>
	<li ng-class="HomeCtrl.isSelected('start')"><div ng-include="" src="'home/home-start.html'"></div></li>
	<li ng-class="HomeCtrl.isSelected('fb-home')"><div class="pageheader"><h3>Facebook demo</h3></div><div ng-include="" src="'facebook/templates/facebook-start.html'"></div></li>
	<li ng-class="HomeCtrl.isSelected('fb')"><div class="pageheader"><h3>Facebook</h3></div><fb-user-feed></fb-user-feed></li>
	<li ng-class="HomeCtrl.isSelected('twitter-home')"><div class="pageheader"><h3>Twitter demo</h3></div><div ng-include="" src="'twitter/templates/twitter-start.html'"></div></li>
	<li ng-class="HomeCtrl.isSelected('twitter')"><div class="pageheader"><h3>Twitter</h3></div><twitter-timelene-directive></twitter-timelene-directive></li>
	<li ng-class="HomeCtrl.isSelected('news-home')"><div class="pageheader"><h3>News demo</h3></div><div ng-include="" src="'news/templates/news-start.html'"></div></li>
	<li ng-class="HomeCtrl.isSelected('news')"><div class="pageheader"><h3>News</h3></div><news-directive></news-directive></li>
	<li ng-class="HomeCtrl.isSelected('about')"><div class="pageheader"><h3>About</h3></div><div ng-include="" src="'about/about.html'"></div>
	</li>
</ul>
</div>