/* Component LESS */
@import "home-partial.less";
/* Add Component LESS Above */

@font-face {
font-family: 'SourceSansProRegular';
src:
url('fonts/SourceSansPro-Regular.eot'),
url('fonts/SourceSansPro-Regular.woff') format('woff'),
url('fonts/SourceSansPro-Regular.svg') format('svg');
font-style: normal;
font-weight: normal;
}
@font-face {
font-family: 'SourceSansProLight';
src: url('fonts/source-sans-pro.light.eot');
src: url('fonts/source-sans-pro.light.eot?#iefix') format('embedded-opentype'),
url('fonts/source-sans-pro.light.woff') format('woff'),
url('fonts/source-sans-pro.light.ttf') format('truetype'),
url('fonts/source-sans-pro.light.svg#source_sans_prolight') format('svg');
font-weight: normal;
font-style: normal;
}

body{
 font-family: 'SourceSansProRegular';
}

.feature-icon { 
	font-size: 64px; 
	width: 84px; 
	border-radius:44px; 
	padding: 12px 24px 8px 20px;
	
}
a.feature-icon{
text-decoration: none;
}
.feature-icon.btn-twitter{
	padding-left: 14px;
}
.feature-icon.btn-newspaper{
	font-size: 48px; 
	line-height:64px;
	background-color: #ff4444;
	color:white;
	padding-left: 14px;
}
nav.navbar {
    background-color: #fff;
    box-shadow: 0 9px 6px rgba(50, 50, 54, 0.47);
    height: 90px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}


#content {
    margin-top: 60px;
}

.sprite {
    background: url("common/images/sprite.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}
.slide-line {
   
    clear: both;
   	border-bottom: 1px solid #eeeeee;
    width: 100%;
}
.logo.sprite {
    background-position: -110px -45px;
    display: block;
    float: left;
    height: 64px;
    margin: 19px 0 0;
    width: 151px;
}

.nav.navbar-nav{
   font-family: 'SourceSansProRegular';
    margin-top: 18px;
     font-size: 19px;
     color: #000;
}

.page-header .title {
    display: block;
    overflow: hidden;
    text-align: center;
}
.center-div {
text-align: center;
}

.page-header .pager li > a{
	border: none;
    border-radius: 16px;
    padding: 5px 8px;
}

ul.ul-container {
overflow:hidden;
padding: 0;
list-style:none;
&>li{
	overflow:hidden;
	width: 0px;
	margin-right: 20px;
	vertical-align: top;
	.transition(~"width .3s");
	position: absolute;
	z-index: -1;
	&.active{
		width:1140px;
		position: static;
	
	}
	&>div{width:1140px; padding: 0 15px;}
	&>.pageheader{
		margin-left: 50px;
		margin-top: -70px;
		position: absolute;
		text-align: center;
		width: 1040px;
	}
}
}