
<div class="row" style="margin-bottom: 20px; margin-top: 40px;">

	<div class="col-md-3">
		<h3 style="margin-top: 0px;">Facebook</h3>
		<a class="fa fa-facebook feature-icon btn-facebook" href="#/fb"></a>
	</div>
	<div class="col-md-9">

		<p>The application uses Facebook API to login and fetch data.</p>
		<ul>
			<li>The app verifies user auth status (login or not)</li>
			<li>The app displays latest user's timeline events</li>
		</ul>
		<p>
			All work with Facebook API and AngularJs<br /> <a class="btn-link"
				href="javascript:void(0)" ng-click="HomeCtrl.setCurrent('fb')">View more...</a>
		</p>

	</div>

</div>


<div class="slide-line"></div>
<div class="row" style="margin-top: 80px; margin-bottom: 20px;">
	<div class="col-md-3">
		<h3 style="margin-top: 0px;">Twitter</h3>
		<a class="fa fa-twitter feature-icon btn-twitter" href="#/twitter"></a>
	</div>
	<div class="col-md-9">

		<p>The application uses Oauth.io API v2.0, Twitter Rest API v1.1
			to login and fetch data.</p>
		<ul>
			<li>The app verifies user auth status (login or not)</li>
			<li>The app displays latest user's timeline events</li>
			<li>The app posts tweets</li>
		</ul>
		<p>
			All work with Oauth.io API v2.0, Twitter Rest API v1.1 and AngularJs<br />
			<a class="btn-link" href="javascript:void(0)" ng-click="HomeCtrl.setCurrent('twitter')">View more...</a>
		</p>

	</div>

</div>

<div class="slide-line"></div>
<div class="row" style="margin-top: 80px;">
	<div class="col-md-3">
		<h3 style="margin-top: 0px;">Newsline</h3>
		<a class="fa fa-newspaper-o feature-icon btn-newspaper" href="#/news"></a>
	</div>
	<div class="col-md-9">

		<p>
			The application shows the news feed from the <a
				href="https://www.mashape.com/qqilihq/newsseecr">newsseecr</a>
			service.
		</p>
		<ul>
			<li>The data fethced from the remote news service</li>
			<li>The data can be refreshed</li>
			<li>You can see the endpoint address of the news service</li>
			<li>COMING SOON: endpoint address configuration</li>
			<li>COMING SOON: paged data display</li>
		</ul>
		<p>
			All work done via standard features of AngularJS<br /> <a
				class="btn-link" href="javascript:void(0)" ng-click="HomeCtrl.setCurrent('news')">View more...</a>
		</p>

	</div>

</div>
