
<div class="row" style="margin-bottom: 20px; margin-top: 40px;">

	<div class="col-md-12">
		<h1 style="margin-top: 0px;">AngularJS! What we can do for you:</h1>
	</div>
	<div class="col-md-3">
		</div>
	<div class="col-md-9"><br/>
		<h2 style="margin-top: 0px;">Single page application</h2>
		<h2 style="margin-top: 0px;">REST</h2>
		<h2 style="margin-top: 0px;">OAuth</h2>
		<h2 style="margin-top: 0px;">External APIs</h2>
		<h2 style="margin-top: 0px;">Social networks</h2>
		<h3 style="margin-top: 0px;"><a href="javascript:void(0)" ng-click='HomeCtrl.setCurrent(1)'>Start</a></h3>
	</div>
</div>

