.news-record .news-title {
	font-weight: bold;
	font-size: 1.2em;
	width: 200px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.news-record .news-date {
	font-size: 1.1em;
	text-transform: lowercase;
	margin-right: 8px;
}

.news-record .news-body {
	margin-top: 8px;
}

.news-record .news-read-more {}

.tooltip-inner {
	max-width: none !important;
	font-size: 1.2em;
}

.plugin-title {
	font-size: 1.3em;
}

.plugin-controls .btn-group {
	margin-right: -8px;
	margin-bottom: -2px;
}

.plugin-controls button {
	padding: 0 4px;
	font-size: 16px;
	color: #999999;
	margin-top: 2px;
}

.plugin-controls button:hover { color: #999999; }
.plugin-controls button:focus { color: #999999; }

.modal-open {
	overflow: visible;
	-webkit-backface-visibility: hidden;
}

.modal {
	overflow-y: visible;
	-webkit-backface-visibility: hidden;
}