<div class="container" style="width: 100%;">
    <div class="row">
        <div class="col-md-12" style="width: 100%;">
            <div ng-show="cusCtrl.isSent" class="alert alert-success"><strong><span class="glyphicon glyphicon-send"></span> Success! Message sent.</strong></div>
        </div>
        <form with-errors ng-hide="cusCtrl.isSent" name="contactForm" ng-submit="cusCtrl.submitMessage()" role="form" action="" method="post" novalidate="" >
            <div class="col-lg-6" style="width: 100%;">
                <div class="well well-sm"><strong>* Required Field</strong></div>
                <div class="form-group">
                    <label for="model.Name">Your Name*</label>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="cusCtrl.contactUsModel.name"  name="model.Name" placeholder="Enter Name" blacklist required="" maxlength="128" >
                        <span class="input-group-addon"></span></div>
                        <field-errors for="model.Name"></field-errors>
                </div>
                <div class="form-group">
                    <label for="model.Email">Your Email*</label>
                    <div class="input-group">
                        <input type="email" class="form-control" ng-model="cusCtrl.contactUsModel.email"  name="model.Email" placeholder="Enter Email" blacklist required="" maxlength="128">
                        <span class="input-group-addon"></span></div>
                        <field-errors for="model.Email"></field-errors>
                </div>
                <div class="form-group">
                    <label for="model.Message">Message*</label>
                    <div class="input-group">
                        <textarea name="model.Message" ng-model="cusCtrl.contactUsModel.message" class="form-control" rows="5" blacklist required="" maxlength="5000"></textarea>
                        <span class="input-group-addon"></span></div>
                        <field-errors for="model.Message"></field-errors>
                </div>
                <input type="submit" ng-disabled="contactForm.$invalid" value="Submit" class="btn btn-info pull-right">
            </div>
        </form>
    </div>
</div>
