
<div class="slide-line"></div>
<div class="row" style="margin-top: 80px; margin-bottom: 20px;">
	<div class="col-md-3">
		<h3 style="margin-top: 0px;">Twitter</h3>
		<a class="fa fa-twitter feature-icon btn-twitter" href="#/twitter"></a>
	</div>
	<div class="col-md-9">

		<p>The application uses Oauth.io API v2.0, Twitter Rest API v1.1
			to login and fetch data.</p>
		<ul>
			<li>The app verifies user auth status (login or not)</li>
			<li>The app displays latest user's timeline events</li>
			<li>The app posts tweets</li>
		</ul>
		<p>
			All work with Oauth.io API v2.0, Twitter Rest API v1.1 and AngularJs<br />
			<a class="btn-link" href="javascript:void(0)" ng-click="HomeCtrl.setCurrent('twitter')">View more...</a>
		</p>

	</div>

</div>