
<div class="row" style=" margin-bottom: 20px;">
	 <h3>We Offer Unmatched Expertise in Development for the Consumer Internet and Social Media</h3>
		<div >
 					While TulaCo has successfully developed innovative solutions for its clients across a wide range of verticals and types of engagements, the firm's domain expertise is unparalleled when it comes to developing massively scalable platforms in the Consumer Internet/Social Media space. The TulaCo team's most visible accomplishment in this regard is the creation and rollout of "Viacom Flux," which serves as the Content Management System/Social Media platform that currently powers over 80% of Viacom Inc's and its subsidiaries web properties. 				
				
				</div>
			<a class="btn-link" href="http://tula.co/">Learn more...</a>
</div>
<div class="slide-line"></div>
<div class="row" style=" margin-bottom: 20px;margin-top: 40px;">
	 <h3>We Foster Seamless Integration with Your Internal Technology Team</h3>
		<div >
 					We believe it is critical for long-term project success that our personnel strive for productive and seamless interactions with the architects, PMs, and developers that you employ. Our goal is to mesh as much as possible with your internal team and become an extension of your people that helps you get more done more quickly. 				
				
				</div>
			<a class="btn-link" href="http://tula.co/">Learn more...</a>
</div>
<div class="slide-line"></div>
<div class="row" style=" margin-bottom: 20px;margin-top: 40px;">
	 <h3>We Have Perfected the Efficiency and Productivity of the "3.5 Model"</h3>
		<div >
 					Over a decade has gone into the development of what we call the "3.5 Staffing Model" - a codename for the core team with which we staff a typical engagement. "3.5" means that any team assigned to a client is comprised (at a minimum) of a combined half FTE of a local, always available project manager as well as a technical architect, and 3 dedicated developers based in Eastern Europe. We have found that this is the optimal team size that creates maximum communication, efficiency, and price/value for our clients, and lets us accomplish an astounding amount of work in a short period of time - and if we need to scale the team up we simply double or triple this core "molecule." 				
				
				</div>
			<a class="btn-link" href="http://tula.co/">Learn more...</a>
</div>
<div class="slide-line"></div>
<div class="row" style=" margin-bottom: 20px;margin-top: 40px;">
	 <h3 >We Listen to Stakeholders Company-Wide and Then Code</h3>
		<div >
 					TulaCo's customer-facing project managers and technical architects are skilled at navigating the often complex waters of an organization's many stakeholders, and ensuring that functional requirements and desired features are elicited from all corners of the organization. We feel doing this before any coding begins maximizes the chance of building the end product the whole organization wants and needs. 				
				
				</div>
			<a class="btn-link" href="http://tula.co/">Learn more...</a>
</div>
<div class="row" style=" margin-bottom: 20px;margin-top: 40px;">
    <button type="button" class="btn btn-lg btn-primary" data-animation="am-fade-and-slide-top"  data-title="Contact Us" data-content-template="webapiserver/contactus/templates/contactus.html" bs-modal="modal">Contact Us</button>
</div>
