<div class="feature-title">
	<div class="page-header">
		<div class="pull-left" ng-show="{{!!featureTitleCtrl.prevFeatureHref}}">
		<ul class="pager">
			<li>
				<a ng-href="{{featureTitleCtrl.prevFeatureHref}}"><span class="glyphicon glyphicon-chevron-left prev"></span></a>
			</li>
		</ul>
	</div>
	<div class="pull-right" ng-show="{{!!featureTitleCtrl.nextFeatureHref}}">
		<ul class="pager">
			<li>
				<a ng-href="{{featureTitleCtrl.nextFeatureHref}}"><span class="glyphicon glyphicon-chevron-right next"></span></a>
			</li>
		</ul>
	</div><div class="title"><h1>{{featureTitleCtrl.title}} <small>{{featureTitleCtrl.subtitle}}</small></h1></div>
	
	</div>
	<div class="clearfix">
	</div>
</div>