<div class="modal fade" id="{{modalCtrl.elementId}}" tabindex="-1" role="dialog" aria-labelledby="{{modalCtrl.elementId}}_Label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="{{modalCtrl.elementId}}_Label">{{modalCtrl.title}}</h4>
			</div>
			<div class="modal-body" ng-transclude>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>