<div class="timeline-badge"  ng-class="fbFeedItemCtrl.getBadgeClass(item.type)"><i class="glyphicon " ng-class="fbFeedItemCtrl.getIconClass(item.status_type)"></i></div>
<div class="timeline-panel">
    <div class="timeline-heading">
        <h4 class="timeline-title" ng-show="!!item.name">{{item.name}}</h4>
        <h4 class="timeline-title" ng-show="!!item.story">{{item.story}}</h4>

    </div>
    <div class="timeline-body">
        <div lass="row">
            <div ng-class="fbFeedItemCtrl.getColumnClass(item)" ng-show="fbFeedItemCtrl.hasDescription(item)">
                <p ng-show="!!item.message">{{item.message}}</p>
                <p ng-show="!!item.description">{{item.description}}</p>
            </div>
            <div ng-class="fbFeedItemCtrl.getColumnClass(item)" ng-show="fbFeedItemCtrl.hasImage(item)">
                <img ng-src="{{ item.picture }}" alt="" ng-show="!!item.picture" style="max-width: 100%" />
            </div>
        </div>

        <div lass="row">
            <div class="col-xs-12"><hr></div>
        </div>

        <div lass="row">
            <div class="col-xs-6">
                <small class="text-muted"><i class="glyphicon glyphicon-time" ></i> {{ item.updated_time | date:'medium'}}</small>
            </div>
            <div class="col-xs-6">
                <div class="btn-group pull-right" ng-show="!!item.link">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a  href="{{ item.link }}" target="_blank">Source</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
