<div>
    <div class="center-div">
        <div class="btn-group" ng-show="fbFeedCtrl.isFbReady">
            <a ng-click="fbFeedCtrl.login()" ng-hide="fbFeedCtrl.isLogged"
                class="btn-social btn-facebook btn btn-default"> <i
                class="fa fa-facebook"></i> Sign {{fbFeedCtrl.isLogged?"out":"in"}}
                with Facebook
            </a>
        </div>
    </div>

    <!--<loading-spinner></loading-spinner>-->
    <span class="label label-info"
        ng-show="fbFeedCtrl.isLogged && !fbFeedCtrl.feedItems.length">Loading...</span>

    <ul class="timeline" ng-show="fbFeedCtrl.feedItems.length">
        <li
            ng-class="{'timeline-inverted':fbFeedCtrl.setTimeLineClass($index)}"
            ng-repeat="item in fbFeedCtrl.feedItems" fb-feed-item></li>
    </ul>
</div>