
<div class="row" style="margin-bottom: 20px; margin-top: 40px;">

	<div class="col-md-3">
		<h3 style="margin-top: 0px;">Facebook</h3>
		<a class="fa fa-facebook feature-icon btn-facebook" href="#/fb"></a>
	</div>
	<div class="col-md-9">

		<p>The application uses Facebook API to login and fetch data.</p>
		<ul>
			<li>The app verifies user auth status (login or not)</li>
			<li>The app displays latest user's timeline events</li>
		</ul>
		<p>
			All work with Facebook API and AngularJs<br /> <a class="btn-link"
				href="javascript:void(0)" ng-click="HomeCtrl.setCurrent('fb')">View more...</a>
		</p>

	</div>

</div>
