<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="pull-left plugin-title">
				World news
			</div>
			<div class="pull-right plugin-controls">
				<div class="btn-group" ng-show="!newsLineCtrl.busy && newsLineCtrl.controlsEnabled()">
					<button type="button" class="btn btn-link" ng-click="newsLineCtrl.refresh()">
						<span class="glyphicon glyphicon-refresh"></span>
					</button>
					<button type="button" class="btn btn-link" ng-click="newsLineCtrl.showConfig()">
						<span class="glyphicon glyphicon-cog"></span>
					</button>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="panel-body" ng-show="newsLineCtrl.busy">
			<mini-loading-indicator></mini-loading-indicator>
		</div>
		<ul class="list-group" ng-hide="newsLineCtrl.busy">
			<li class="list-group-item news-record" ng-repeat="newsEntry in newsLineCtrl.news">
				<div class="news-date pull-left">
					<span class="label label-default">{{newsEntry.date|date:'MMM d, HH:mm'}}</span>
				</div>
				<div class="news-title pull-left" news-title="newsEntry.title"></div>
				<div class="clearfix"></div>
				<div class="news-body">{{newsEntry.text|limitTo:190}}</div>
				<div class="news-read-more pull-right">
					<a ng-href="{{newsEntry.link}}" target="_blank">Read more</a>
				</div>
				<div class="clearfix"></div>
			</li>
		</ul>
	</div>
	<modal modal-id="newsConfig" modal-title="Newsline configuration" reference="newsLineCtrl.configModal">
		<form role="form">
			<div class="form-group">
				<label for="serviceUrl">Service endpoint</label>
				<input type="text" class="form-control" id="serviceUrl" placeholder="Please, enter valid serice URL" ng-model="newsLineCtrl.configModal.entity.endpoint">
			</div>
		</form>
	</modal>
</div>