
<div class="slide-line"></div>
<div class="row" style="margin-top: 80px;">
	<div class="col-md-3">
		<h3 style="margin-top: 0px;">Newsline</h3>
		<a class="fa fa-newspaper-o feature-icon btn-newspaper" href="#/news"></a>
	</div>
	<div class="col-md-9">

		<p>
			The application shows the news feed from the <a
				href="https://www.mashape.com/qqilihq/newsseecr">newsseecr</a>
			service.
		</p>
		<ul>
			<li>The data fethced from the remote news service</li>
			<li>The data can be refreshed</li>
			<li>You can see the endpoint address of the news service</li>
			<li>COMING SOON: endpoint address configuration</li>
			<li>COMING SOON: paged data display</li>
		</ul>
		<p>
			All work done via standard features of AngularJS<br /> <a
				class="btn-link" href="javascript:void(0)" ng-click="HomeCtrl.setCurrent('news')">View more...</a>
		</p>

	</div>

</div>
