<feature-title text="Newsline" subtext="by newsseecr" prev-url="/twitter" next-url="/about">
</feature-title>
<div class="row">
	<div class="col-md-5">
		<news-line>
		</news-line>
	</div>
	<div class="col-md-7">
	</div>
</div>